fastapi==0.116.1
fastapi-cli==0.0.8
fastapi-cloud-cli==0.1.5
langchain==0.3.26
langchain-aws==0.2.30
python-dotenv==1.1.1
python-jose==3.5.0
httpx==0.28.1
python-multipart==0.0.20
asyncache==0.3.1
cachetools==5.5.2
pymupdf==1.26.3